body{
    background-image: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FtaW5nJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}

h2{
    font-size: 25pt;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color:whitesmoke
}
p{
    font-size: 25pt;
    font-family: 'Segoe UI', sans-serif;
    text-align: left    ;
    color:whitesmoke
}
